html { background-color: $text-default-gray;}
body {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: $text-default-gray;
  font-size: rem(20px);
  line-height: rem(30px);
  max-width: rem(1800px);
  margin: 0 auto;
  background: #fff;
}
a, a:visited {
  color: $orange;
  &:active, &:not(.isTouchEnabled):hover {
    color: $hdr-blue;
  }
}
p, ul {
  margin: .5rem 0 1.25rem 0;
}
h1 {
  color: $hdr-blue;
  font-size: rem(40px);
  line-height: rem(40px);
  font-weight: 700;
  margin: 0 0 2rem 0;
  &.ss-mainhead {
    margin-bottom: rem(20);
  }
}
h2 {
  color: $orange;
  font-size: rem(24px);
  line-height: rem(30px);
  font-weight: 500;
  margin: 0 0 .5rem 0;
  &.ss-subhead {
    font-size: rem(24px);
    line-height: rem(30px);
    color: $text-default-gray;
    font-weight: 700;
    margin-bottom: 2rem;
  }
}
h3 {
  text-transform: uppercase;
  font-size: rem(18px);
  line-height: rem(24px);
  font-weight: 700;
  margin: 0 0 rem(18px) 0;
}
h4 {
  text-transform: uppercase;
  font-size: rem(14px);
  line-height: rem(24px);
  font-weight: 700;
  margin: 0 0 rem(14px) 0;
}
ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}
.mobile {
  @include ss-breakpoint(md) { display: none;}
}
.non-mobile {
  display: none;
  @include ss-breakpoint(md) { display: block;}
}
.main {
  margin-top: 3rem;
}

.lessons, .about, .news {
  @include ss-breakpoint(lg) {
    @include span(7);
  }
}