body {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: $text-default-gray;
  font-size: rem(20px);
  line-height: rem(30px);
}
a, a:visited {
  color: $orange;
  &:active, &:hover {
    color: $hdr-blue;
  }
}
h1 {
  color: $hdr-blue;
  font-size: rem(46px);
  line-height: rem(69px);
  font-weight: 500;
}
h2 {
  color: $orange;
  font-size: rem(24px);
  line-height: rem(36px);
  font-weight: 500;
}
h3 {
  text-transform: uppercase;
  font-size: rem(18px);
  line-height: rem(27px);
  font-weight: 600;
}
ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}
.mobile {
  @include ss-breakpoint(md) { display: none; }
}

// hamburger nav
.sb-slidebar {
  nav {
    padding: 0 rem(40);
    font-weight: 700;
  }
  .register-now {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #fff;
  }
  a, a:visited, a:active, a:hover {
    font-size: rem(25px);
    line-height: rem(37px);
    text-decoration: none;
    color: white;
    &:active {
      color: white;
      text-decoration: underline;
    }
    i {
      font-size:rem(18);
    }
  }
  @include ss-breakpoint(md) {
    display: none;
  }
}


// header

.mobile-menu {
  background-color: $hdr-blue;
  line-height: rem(48px);
  height: rem(48px);
  padding: 0 rem(20px);
  a, a:visited, a:active, a:hover {
    color: #fff;
    text-decoration: none;
  }
  a:last-child {
    float: right;
  }
}
.general-info {
  display: none;
  @include ss-breakpoint(md) {
    display: block;
  }
}
.main-nav {
  display: none;
  @include ss-breakpoint(md) {
    display: block;
  }
}

footer {
  display: table;
  width: 100%;
  background-image: url("/assets/images/bubbles.png");
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: rem(80px);
  padding-top: rem(59px);
  .footer-copyright {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    height: rem(54px);
    background-color: #006b91;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: rem(22px);
    font-size: rem(18px);
//    padding-top: rem(26px);
//    padding-bottom: rem(16px);
    @include ss-breakpoint(md) { }
  }
}