body {
  font-family: 'Dosis', sans-serif;
  font-weight: 500;
  color: $text-default-gray;
  font-size: rem(20);
  line-height: rem(30);
}
a, a:visited {
  color: $orange;
  &:active, &:hover {
    color: $hdr-blue;
  }
}
h1 {
  color: $hdr-blue;
  font-size: rem(46);
  line-height: rem(69);
  font-weight: 500;
}
h2 {
  color: $orange;
  font-size: rem(24);
  line-height: rem(36);
  font-weight: 500;
}
h3 {
  text-transform: uppercase;
  font-size: rem(18);
  line-height: rem(27);
  font-weight: 600;
}
ul {
  padding: 0;
  li {
    list-style-type: none;
  }
}
.mobile {
  @include ss-breakpoint(md) { display: none; }
}

// hamburger nav
.sb-slidebar {
  nav {
    padding: 0 rem(40);
    font-weight: 700;
  }
  .register-now {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #fff;
  }
  a, a:visited, a:active, a:hover {
    font-size: rem(25);
    line-height: rem(37);
    text-decoration: none;
    color: white;
    &:active {
      color: white;
      text-decoration: underline;
    }
    i {
      font-size:rem(18);
    }
  }
  @include ss-breakpoint(md) {
    display: none;
  }
}


// header

.header-mobile-menu {
  background-color: $hdr-blue;
  line-height: rem(48);
  height: rem(48);
  font-size: rem(20);
  font-weight: 700;
  a, a:visited, a:active, a:hover {
    color: #fff;
    text-decoration: none;
  }
  a:last-child {
    float: right;
  }
}
.header-logo-wrapper {
  padding: rem(23) 0 rem(13) 0;
  text-align: center;
}
.header-logo {
  max-width: 100%;
  max-height: rem(120);
}
.header-general-info {
  display: none;
  @include ss-breakpoint(md) {
    display: block;
  }
}
.header-main-nav {
  display: none;
  @include ss-breakpoint(md) {
    display: block;
  }
}

// homepage
.home-graphic {
  max-width: 100%;
  max-height: rem(300);
}

footer {
  display: table;
  width: 100%;
  background-image: url("/assets/images/bubbles.png");
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: rem(80);
  padding-top: rem(59);
  .footer-copyright {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    height: rem(54);
    background-color: #006b91;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: rem(22);
    font-size: rem(18);
    @include ss-breakpoint(md) { }
  }
}