footer {
  display: table;
  width: 100%;
  background-image: url("/assets/images/bubbles.png");
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: rem(80px);
  padding-top: rem(59px);
  @include ss-breakpoint(md) {
    height: rem(80px);
    padding-top: rem(139px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @include ss-breakpoint(xl) {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .footer-copyright {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    height: rem(54px);
    background-color: #006b91;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: rem(22px);
    font-size: rem(18px);
    p {
      margin: .5rem 0;
      @include ss-breakpoint(md) {
        text-align: left;
        float: left;
        width: rem(350);
      }
    }
    .chamber-logo {
      display: none;
      @include ss-breakpoint(md) {
        display: block;
        text-align: left;
        text-indent: -999em;
        float: right;
        height: rem(30px);
        width: rem(144);
        background: url("/assets/images/brcc.png") top left no-repeat;
        background-size: contain;
        margin-top: rem(6);
      }
    }
  }
}