footer {
  display: table;
  width: 100%;
  background-image: url("/assets/images/bubbles.png");
  background-repeat: repeat-x;
  background-position: top left;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: rem(80px);
  padding-top: rem(59px);
  @include ss-breakpoint(md) {
    height: rem(80px);
    padding-top: rem(139px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  @include ss-breakpoint(xl) {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }
  .footer-copyright {
    display: table-cell;
    margin: 0 auto;
    vertical-align: middle;
    height: rem(54px);
    background-color: #006b91;
    color: #fff;
    text-align: center;
    font-weight: 600;
    line-height: rem(22px);
    font-size: rem(18px);
    @include ss-breakpoint(md) { }
  }
}