// preloader
div#preloader {
  position: absolute;
  left: -9999px;
  top:  -9999px;
}
div#preloader img {
  display: block;
}

// hamburger nav
.sb-slidebar {
  nav {
    padding: 0 rem(40px);
    font-weight: 700;
  }
  .register-now {
    width: 100%;
    padding-bottom: 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid #fff;
  }
  a, a:visited, a:active, a:not(.isTouchEnabled):hover {
    font-size: rem(25px);
    line-height: rem(37px);
    text-decoration: none;
    color: white;
    &:active {
      color: white;
      text-decoration: underline;
    }
    i {
      font-size:rem(18px);
    }
  }
  @include ss-breakpoint(md) {
    display: none;
  }
}

// header

header {
  position: relative;
  z-index: 1;
}

.header-preNav {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
}
.header-mobile-menu {
  background-color: $hdr-blue;
  line-height: rem(48px);
  height: rem(48px);
  font-size: rem(22px);
  font-weight: 700;
  a, a:visited, a:active, a:not(.isTouchEnabled):hover, .non-mobile {
    color: #fff;
    text-decoration: none;
  }
  a:last-of-type, .non-mobile {
    float: right;
  }
  @include ss-breakpoint(lg) { display: none;}
}
// alert messaging

.header-alert-message {
  position: relative;
  padding: 10px 5px;
  z-index: 101;
  font-size: 1.25rem;
  line-height: 1.65rem;
  top: 0px;
  left: 0;
  right: 0;
  background: #f7931e; /* same as default alert background color */
  color: #fff;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px -5px black;
  -moz-box-shadow: 0 0 5px -5px black;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.header-logo-wrapper {
  padding: rem(23px) 0;
  text-align: center;
  @include ss-breakpoint(lg) {
    @include span(4);
    text-align: left;
  }
}
.header-logo {
  max-width: 90%;
  max-height: rem(120px);
  @include ss-breakpoint(lg) {
    max-width: 100%;
  }
  @include ss-breakpoint(xl) {
    max-height: rem(140px);
  }
}
.header-generalInfo {
  display: none;
  position: relative;
  @include ss-breakpoint(lg) {
    @include clearfix;
    display: block;
    @include span(last 8);
    font-size: rem(22px);
    font-weight: 700;
    line-height: rem(18px);
    .header-generalInfo-content {
      float: right;
      text-align: right;
      padding: rem(60) 0 0 0;
      em {
        color: $text-lt-gray;
        font-style: normal;
      }
      ul {
        margin-top: 1rem;
      }
      li {
        display: inline-block;
        margin-right: 6px;
        font-size: rem(18px);
        // compensating for extra width of font icon
        &:last-child { margin-right: -5px;}
      }
    }
    .header-generalInfo-seahorse {
      max-width: rem(50);
      float: right;
      margin-left: 14px;
      padding: rem(20) 0 0 0;
    }
  }
  @include ss-breakpoint(xl) {
    .header-generalInfo-content {
      padding: rem(65) 0 0 0;
    }
    .header-generalInfo-seahorse {
      padding: rem(25) 0 0 0;
    }
  }
}
.header-nav {
  display: none;
  @include ss-breakpoint(lg) {
    display: block;
    height: rem(70px);
    background-color: $nav-blue;
    opacity: .85;
    ul {
      margin:0;
      padding:0;
      white-space: nowrap;
//      overflow: hidden;
      position: relative;
    }
    li {
      display: inline-block;
      margin-right: .2rem;
      .header-nav-link {
        display: block;
        color: #fff;
        cursor: pointer;
        text-decoration: none;
        font-size: 1.36rem;
        font-weight: 700;
        line-height: rem(22);
        background-color: $nav-blue;
        border-radius: 6px;
        padding: rem(12) rem(9);
        margin-top: .75rem;
        &:visited {
          color: #fff;
        }
        &:not(.isTouchEnabled):hover, &:active, &.current {
          background-color: $dk-blue;
        }
      }
      &.register-now {
        position:absolute;
        top: -.75rem;
        right:0;
        display: block;
        margin-right: 0;
        .header-nav-link {
          background-color: $orange;
          height: rem(70);
          text-align: center;
          padding:rem(24) rem(16) rem(12) rem(16);
          display: block;
          border-radius:0;
          background-color: $orange;
          font-size: rem(22);
          line-height: rem(22);
          &:not(.isTouchEnabled):hover, &:active { background-color: $hover-orange; }
          &:visited {
            background-color: $orange;
          }
        }
      }
    }
  }
  @include ss-breakpoint(xl) {
    li {
      margin-right: rem(18px);
      font-size: rem(26);
      line-height: rem(24);
      .header-nav-link {
        padding: rem(12) rem(20);
        margin-top: rem(12);
        font-size: rem(22);
      }
      &.register-now {
        .header-nav-link {
          padding: rem(24) rem(20) rem(12) rem(20);
        }
      }
    }
  }
}
