@import 'bourbon';
@import '../../../bower_components/breakpoint-sass/stylesheets/breakpoint';

$high-tide: 500px;

html {
  background-color: yellow;
  div {
    color: red;
    background-color: black;
    @include border-top-radius(6px);
    @include breakpoint($high-tide) {
      content: 'Whoa.';
    }
  }
}