*.gem
*.rbc
.bundle
.config
.ruby-version
.sass-cache
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/dummy_app/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
bower_components/jquery/src
bower_components/sassy-maps/examples
config.codekit
*.log
