#carousel {
  display: none;
  @include ss-breakpoint(lg) {
    display:block;

  }
}

.lessons {
  @include ss-breakpoint(lg) {
    @include span(7);
  }
}
.lessons-description {
  margin-bottom: rem(40);
}